# Data Collection and Preparation Notebook üìä

## Introduction üìù

Welcome to the "Data Collection and Preparation" notebook (01_get_data) üöÄ. In this notebook, we'll focus on the initial steps of data collection, loading, and preparation for your project. We'll be working with various datasets, including Reddit and Twitter data, to create a consolidated and cleaned dataset that will be used for further analysis.

## Table of Contents üìë

- [Importing Libraries](#importing-libraries)
- [Loading Datasets](#loading-datasets)
    - [Show dataframe](#show-dataframe)
- [Concatenating Datasets](#concatenating-datasets)
- [Data Cleaning](#data-cleaning)
    - [Final Data Summary](#final-data-summary)
- [Saving Cleaned Data](#saving-cleaned-data)
- [References](#references)

## Importing Libraries üìö

Let's start by importing the necessary libraries for our data processing tasks.

In [1]:
import pandas as pd
import numpy as np

## Loading Datasets üìä

We will load the various datasets required for our analysis, including Reddit, Twitter, and other relevant data.

In [2]:
df = pd.read_csv("./../data/raw_data/Reddit_Data.csv")
df1 = pd.read_csv("./../data/raw_data/Test.csv")
df2 = pd.read_csv("./../data/raw_data/Train.csv")
df3 = pd.read_csv("./../data/raw_data/Twitter_Data.csv")
df4 = pd.read_csv("./../data/raw_data/Valid.csv")
df5 = pd.read_csv("./../data/raw_data/dataset.csv")

### Show dataframe üí°

Display all dataframe

In [3]:
print(df, df1, df2, df3, df4, df5, sep='\n')

                                           clean_comment  category
0       family mormon have never tried explain them t...         1
1      buddhism has very much lot compatible with chr...         1
2      seriously don say thing first all they won get...        -1
3      what you have learned yours and only yours wha...         0
4      for your own benefit you may want read living ...         1
...                                                  ...       ...
37244                                              jesus         0
37245  kya bhai pure saal chutiya banaya modi aur jab...         1
37246              downvote karna tha par upvote hogaya          0
37247                                         haha nice          1
37248             facebook itself now working bjp‚Äô cell          0

[37249 rows x 2 columns]
                                                   text  label
0     I always wrote this series off as being a comp...      0
1     1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...      0
2     This movie was so poorly written and directed ...      0
3     The most interesting thing about Miryang (Secr...      1
4     when i first read about "berlin am meer" i did...      0
...                                                 ...    ...
4995  This is the kind of picture John Lassiter woul...      1
4996  A MUST SEE! I saw WHIPPED at a press screening...      1
4997  NBC should be ashamed. I wouldn't allow my chi...      0
4998  This movie is a clumsy mishmash of various gho...      0
4999  Formula movie about the illegitimate son of a ...      0

[5000 rows x 2 columns]
                                                    text  label
0      I grew up (b. 1965) watching and loving the Th...      0
1      When I put this movie in my DVD player, and sa...      0
2      Why do people who do not know what a particula...      0
3      Even though I have great interest in Biblical ...      0
4      Im a die hard Dads Army fan and nothing will e...      1
...                                                  ...    ...
39995  "Western Union" is something of a forgotten cl...      1
39996  This movie is an incredible piece of work. It ...      1
39997  My wife and I watched this movie because we pl...      0
39998  When I first watched Flatliners, I was amazed....      1
39999  Why would this film be so good, but only gross...      1

[40000 rows x 2 columns]
                                               clean_text  category
0       when modi promised ‚Äúminimum government maximum...      -1.0
1       talk all the nonsense and continue all the dra...       0.0
2       what did just say vote for modi  welcome bjp t...       1.0
3       asking his supporters prefix chowkidar their n...       1.0
4       answer who among these the most powerful world...       1.0
...                                                   ...       ...
162975  why these 456 crores paid neerav modi not reco...      -1.0
162976  dear rss terrorist payal gawar what about modi...      -1.0
162977  did you cover her interaction forum where she ...       0.0
162978  there big project came into india modi dream p...       0.0
162979  have you ever listen about like gurukul where ...       1.0

[162980 rows x 2 columns]
                                                   text  label
0     It's been about 14 years since Sharon Stone aw...      0
1     someone needed to make a car payment... this i...      0
2     The Guidelines state that a comment must conta...      0
3     This movie is a muddled mish-mash of clich√©s f...      0
4     Before Stan Laurel became the smaller half of ...      0
...                                                 ...    ...
4995  Man, I loved this movie! This really takes me ...      1
4996  Recovery is an incredibly moving piece of work...      1
4997  You can take the crook out of the joint, but i...      1
4998  FUTZ is the only show preserved from the exper...      1
4999  "The Mother" tells of a recently widowed mid-6...      1

[5000 rows x 2 columns]
                                                     Text Language      Label
0       @Charlie_Corley @Kristine1G @amyklobuchar @Sty...       en  litigious
1       #BadBunny: Como dos gotas de agua: Joven se di...       es   negative
2       https://t.co/YJNiO0p1JV Flagstar Bank disclose...       en  litigious
3       Rwanda is set to host the headquarters of Unit...       en   positive
4       OOPS. I typed her name incorrectly (today‚Äôs br...       en  litigious
...                                                   ...      ...        ...
937849            @Juice_Lemons in the dark. it‚Äôs so good       en   positive
937850  8.SSR &amp; Disha Salian case should be solved...       en   negative
937851  *ACCIDENT:  Damage Only* - Raleigh Fire Depart...       en   negative
937852  @reblavoie So happy for her! She‚Äôs been incred...       en   positive
937853                         I'm lost and I'm found but       en   negative

[937854 rows x 3 columns]

## Concatenating Datasets üìÅ

Now, let's concatenate the loaded datasets to create a unified dataset for analysis.

In [4]:
dfs = [df.clean_comment, df1.text, df2.text, df3.clean_text, df4.text, df5.Text]

df_result = pd.concat(dfs, axis=0)
df_result.reset_index(drop=True, inplace=True)

## Data Cleaning üßπ

We will perform data cleaning tasks such as handling missing values and duplicates to ensure the quality of our dataset.

In [5]:
df_cleaned = df_result.replace('', np.nan).dropna().drop_duplicates().reset_index(drop=True).to_frame(name='text')
df_cleaned

                                                      text
0         family mormon have never tried explain them t...
1        buddhism has very much lot compatible with chr...
2        seriously don say thing first all they won get...
3        what you have learned yours and only yours wha...
4        for your own benefit you may want read living ...
...                                                    ...
1178833            @Juice_Lemons in the dark. it‚Äôs so good
1178834  8.SSR &amp; Disha Salian case should be solved...
1178835  *ACCIDENT:  Damage Only* - Raleigh Fire Depart...
1178836  @reblavoie So happy for her! She‚Äôs been incred...
1178837                         I'm lost and I'm found but

[1178838 rows x 1 columns]

### Final Data Summary üìä

Let's check the summary of the cleaned dataset.

In [6]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1178838 entries, 0 to 1178837
Data columns (total 1 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   text    1178838 non-null  object
dtypes: object(1)
memory usage: 9.0+ MB

## Saving Processed Data üíæ

Finally, we'll save the cleaned dataset to a compressed CSV file.

In [7]:
df_cleaned.to_parquet('./../data/Text_dataset.br', engine='pyarrow',compression='brotli', index=False)

## Conclusion üìù

This notebook demonstrates the initial steps of data collection, loading, and preparation. We've successfully concatenated and cleaned the data from various sources to create a unified and cleaned dataset. This dataset can now serve as a foundation for more advanced analysis and modeling tasks in your project.

Happy coding! üéâ

## References üìö

Sources of data
- [Twitter and Reddit Sentimental analysis Dataset](https://www.kaggle.com/datasets/cosmos98/twitter-and-reddit-sentimental-analysis-dataset)
- [Sentiment Dataset with 1 Million Tweets](https://www.kaggle.com/datasets/tariqsays/sentiment-dataset-with-1-million-tweets)
- [IMDB dataset (Sentiment analysis) in CSV format](https://www.kaggle.com/datasets/columbine/imdb-dataset-sentiment-analysis-in-csv-format)